section {
    border: 0.5px solid var(--cor-primaria);
    border-radius: 10px;
    margin: 20px;
    padding: 2px;
    background-color: var(--cor-primaria);
}

h3 {
    padding: 4px;
}

p {
    padding: 10px;
   background-color: white;
}