.topbar {
  display: flex;
  height: 56px;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
}

.topbar>h1 {
  margin: 0;
  font-size: 30px;
}

.topbar>img {
  height: 40px;
  width: 40px;
}
