header {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 20px;
}

.sidebar {
    height: 100vh;
    background-color: var(--cor-primaria);
    padding-left: 5px;
}

.sidebar>img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    display: inline-block;
}

.aluno-online-paragrafo {
    background-color: var(--cor-primaria);
}

nav {
    display: block;
}

li {
    padding: 5px 0;
    margin-left: 20px;
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

li a:hover {
    background-color: var(--cor-hover);
}

a.active {
    background-color: var(--cor-active) !important;
    font-weight: bolder;
    box-shadow: 0 2px 5px var(--cor-sombra);
}