.topbar {
  display: flex;
  height: 56px;
  background-color: white;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
}

.topbar>h1 {
  margin: 0;
  font-size: 30px;
}

.topbar-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-user img {
  height: 40px;
  width: 40px;
}
